* {
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    flex: 1;
}

#sap_logo{
    width: 220px;
    position: fixed;
    left: 15px;
}

#sap_navbar{
    background-color: slategray;
    color: white;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding: 20px;
    gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#blocos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
    text-align: center;
    justify-content: left;
    align-items: flex-start;
    padding: 20px;
    flex-direction: row;
}

.secao{
    background-color: rgb(214, 233, 255);
    color: rgb(0, 3, 184);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-wrap: break-word;
    word-break: normal;
    border-radius: 25px;
    overflow: hidden;
}

.texto_bloco{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
}

#assistente_virtual{
    justify-content: space-between;
    left: 0;
    width: 60%;
}

#assistente_img {
    transform: translateY(-20px);
}

#texto_assistente{
    padding-top: 60px;
    transform: translateY(5px);
    display: flex;
    flex-direction: row;
    font-size: xx-large;
    text-align: left;
}

#fale_comigo{
    gap: 10px;
    font-size: medium;
    display: flex;
    padding-top: 30px;
}

#assistente{
    width: 200px;
    padding: 10px;
    background-color: rgb(0, 3, 184);
    color: white;
    border-radius: 25px;
    text-align: center;
}