* {
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    flex: 1;
}

#sap_logo{
    width: 240px;
    position: fixed;
    left: 12px;
}

#sap_navbar{
    background-color: slategray;
    color: white;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding: 20px;
    gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}